@import url('./__content/popup__content.css');
@import url('./__content/_content/popup__content_content_image.css');
@import url('./__close/popup__close.css');
@import url('./__title/popup__title.css');
@import url('./__form/popup__form.css');
@import url('./__input/popup__input.css');
@import url('./__button/popup__button.css');
@import url('./__caption/popup__caption.css');
@import url('./__image/popup__image.css');
@import url('./__info-list/popup__info-list.css');
@import url('./__info-item/popup__info-item.css');
@import url('./__info-label/popup__info-label.css');
@import url('./__info-value/popup__info-value.css');
@import url('./__users-title/popup__users-title.css');
@import url('./__users-list/popup__users-list.css');
@import url('./__users-item/popup__users-item.css');

.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
